<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @micropost.name %>
</p>

<p>
  <b>Body:</b>
  <%= @micropost.body %>
</p>


<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
